# ----------------------------
# General IDE / OS files
# ----------------------------
.DS_Store
Thumbs.db
*.log
*.tmp

# ----------------------------
# Linux Makefile build outputs
# ----------------------------
SoundManager/Builds/LinuxMakefile/build/
SoundManager/Builds/LinuxMakefile/build/intermediate/

# ----------------------------
# Visual Studio 2026
# ----------------------------
# VS solution and project user options
*.suo
*.user
*.userosscache
*.sln.docstates

# VS temporary files
*.obj
*.pch
*.idb
*.pdb
*.ipdb
*.iobj
*.lastbuildstate

# VS cache / indexes
.vs/

# Build outputs
SoundManager/Builds/VisualStudio2026/x64/Debug/
SoundManager/Builds/VisualStudio2026/x64/Release/

# Logs and temporary files
*.log
*.tlog/
*.tmp
*.LastBuildInfo

# ----------------------------
# JUCE specific
# ----------------------------
# Binary caches
*.jucer.saved
Builds/
